body {
  background: #000;
}

@font-face {
  font-family: "Digital-7";
  src: url('digital_mono.ttf');
}

.bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.container {
  margin-bottom: 30px;
  width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;

}
svg {
  height: 220px;
  width: 220px;
  stroke-width: 10px;
  display: inline-block;
}

.stroke {
  transform: rotate(-90deg);
  transform-origin: center center;
  stroke: orange;
  fill: #161f16;
  stroke-linecap: round;
  stroke-dasharray: 628.31852;
  stroke-dashoffset: 0;
}

.count-down {
  left: -30px;
  position: relative;
  user-select: none;
}

.digits {
  top: 50px;
  left: 55px;
  font-family: "Digital-7";
  font-size: 120px;
  color: #213121;
  position: absolute;
}

.digits-overlay {
  top: 50px;
  left: 55px;
  font-family: "Digital-7";
  font-size: 120px;
  color: #00ee00;
  text-shadow: 0 0 15px #00ee00;
  position: absolute;
}

.auto_start {
  top: 18px;
  left: 74px;
  font-family: "Digital-7";
  font-size: 18px;
  color: #009300;
  position: absolute;
}

.infinity {
  top: 145px;
  left: 74px;
  font-family: "Digital-7";
  font-size: 18px;
  color: #009300;
  position: absolute;
}

.inputCD {
  font-size: 16px;
  color: #888;
  top: 10px;
  left: 270px;
  width: 120px;
  position: absolute;
}

.inputINT {
  font-size: 16px;
  color: #888;
  top: 70px;
  left: 270px;
  width: 120px;
  position: absolute;
}

#countDown_btn, #interval_btn {
  font-size: 20px;
  width: 70px;
  color: #72a872;
  padding: 3px 7px;
  background-color: #111;
  border: 2px solid #5b615b;
}

.start_btn {
  top: 150px;
  left: 240px;
  height: 43px;
  width: 125px;
  margin: 0 10px;
  font-size: 25px;
  text-align: center;
  color: #00af00;
  background-color: #001c00;
  border: 2px solid green;
  position: absolute;
  cursor: pointer;
}

.start_btn:hover {
  color: #24ff24;
  background-color: #004500;
  border: 2px solid #00ad00;
}